.align-airdrop-button {
    position: absolute;
    top: 7px;
    right: 410px;

}
.notification-airdrop-sucess {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 40%;
}

p{
    color: white;
}