.align-airdrop-button {
    position: absolute;
    top: 7px;
    right: 410px;

}
.notification-airdrop-sucess {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}