.align-airdrop-button {
    position: absolute;
    top: 7px;
    right: 410px;

}
.notification-airdrop-sucess {
    justify-content: center;
    align-items: center;
    position: fixed;
    
}

p{
    color: white;
}